.reservation{
    display: flex;
    position: relative;
  }
  .karibu{
    background-image: url(images/karibu.jpg);
    text-align: center;
    width: 900px;
    height: 860px;
  }
  .form{
    /* width:900px ; */
    /* height:800px ; */
    border: solid 1px black;
    width: 20cm;
    font-size: larger;
    height: 860px;
    background-color: black;
    color: white;
  }
  #inputs{
    width:19.8cm;
    height: 1cm;
    background-color: white;
    color: white;
  }
  #submit{
    width: 20cm;
    height: 1cm;
    background-color: white;
    padding: 5px;
    
  }
  .navbar ul{
    display: flex;
    list-style-type: none;
    gap: 0.5cm;
    background-color: black; padding-right: 15px; padding-left: 15px; 
    width: 90%;
    text-align: center;
    padding: 5%;
    border-radius: 25px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 50%;
    text-align: center;
    
}
.navbar{
    margin-top: 16cm;
    border-radius: 15px 15px;
    width: 50%;
    position: absolute;
    margin-top: -5cm;
    margin-left: 8cm;
    
}
.reservations{
  width: 4cm;
  height: 1cm;
  border-radius: 10px;
  background-color: rgb(166, 156, 177);
}
  @media screen  and (max-width: 480px){
    .reservation{
        display: block;
        position: relative;
      }
      .karibu{
        background-image: url(images/karibu.jpg);
        text-align: center;
        width: 400px;
        height: 860px;
      }
      .form{
        /* width:900px ; */
        /* height:800px ; */
        border: solid 1px black;
        width: 11.1cm;
        font-size: larger;
        height: 860px;
        background-color: black;
      }
      #inputs{
        width:11.1cm;
        height: 1cm;
        background-color: black;
        color: white;
      }
      #submit{
        width: 11.1cm;
        height: 1cm;
        background-color: white;
        padding: 5px;
        
      }
      .navbar ul{
        display: flex;
        list-style-type: none;
        gap: 0.2cm;
        background-color: black; padding-right: 15px; padding-left: 15px; 
        width: 50%;
        text-align: center;
        padding: 5%;
        border-radius: 25px;
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        font-size: 10px;
        width: 10%;
        text-align: center;
        
    }
    .navbar{
        margin-top: 16cm;
        border-radius: 15px 15px;
        width: 30%;
        position: absolute;
        margin-top: -6cm;
        margin-left: 1cm;
        
    }
    .reservations{
      width: 2.7cm;
      height: 1cm;
      border-radius: 10px;
      background-color: rgb(166, 156, 177);
    } 
  }
  
  @media screen  and (max-width: 912px){
    .reservation{
        display: block;
        position: relative;
      }
      .karibu{
        background-image: url(images/karibu.jpg);
        text-align: center;
        width:900px;
        height: 860px;
      }
      .form{
        /* width:900px ; */
        /* height:800px ; */
        border: solid 1px black;
        width: 24cm;
        font-size: larger;
        height: 1500px;
        background-color: black;
        color: white;
      }
      #inputs{
        width:19.8cm;
        height: 1cm;
        background-color: white;
        color: white;
      }
      #submit{
        width: 20cm;
        height: 1cm;
        background-color: white;
        padding: 5px;
        
      }
      .navbar ul{
        display: flex;
        list-style-type: none;
        gap: 0.5cm;
        background-color: black; padding-right: 15px; padding-left: 15px; 
        width: 90%;
        text-align: center;
        padding: 5%;
        border-radius: 25px;
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        width: 50%;
        text-align: center;
        
    }
    .navbar{
        margin-top: 16cm;
        border-radius: 15px 15px;
        width: 80%;
        position: absolute;
        margin-top: -45cm;
        margin-left: 1cm;
        
    }
    .reservations{
      width: 4cm;
      height: 1cm;
      border-radius: 10px;
      background-color: rgb(166, 156, 177);
    }
  }